node_modules/
vendor/

includes/config.php

content/themes/default/templates_compiled/*
!content/themes/default/templates_compiled/index.html

content/uploads/*
!content/uploads/index.html
!content/uploads/videos/
!content/uploads/stickers/
!content/uploads/sounds/
!content/uploads/reactions/
!content/uploads/photos/
!content/uploads/flags/
!content/uploads/files/
content/uploads/videos/*
content/uploads/stickers/*
content/uploads/sounds/*
content/uploads/reactions/*
content/uploads/photos/*
content/uploads/flags/*
content/uploads/files/*
!content/uploads/videos/index.html
!content/uploads/stickers/index.html
!content/uploads/sounds/index.html
!content/uploads/reactions/index.html
!content/uploads/photos/index.html
!content/uploads/flags/index.html
!content/uploads/files/index.html

